ilabel, .ilabel {
    float: left;
    top: 0;
    border: none;
    color: red;
}
ititle, .ititle {
    float: right;
    text-align: right;
    bottom: 0;
    border: none;
    color: black;
    font-size: 0.9em;
}
.swap {
    height: 12px;
}
.trash {
    height: 12px;
}
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }
